@import "tailwindcss";

@font-face {
    font-family: 'Lexend';
    src: url(../FONTS/Lexend-Regular.ttf);
}

/*index*/

.index-header {
    display: inline-block;
    width: 100%;
    border: 1px solid black;
}

.index-header nav {
    width: 45%;
    
}

.index-header ul {
    font-weight: bold;
}



.lcss-lexend {
    font-family: 'Lexend';
}

/*How to apply Tailwind CSS files*/

/* .class-name-here {
    @apply /*Apply your stuff here; 
    
}
    */
